body{
    margin: 0;
    padding: 0;
}

/*editing the conatiner of the doctor's appointment list*/
.container-fluid{
    background: linear-gradient(to right, limegreen, darkgreen);
    margin-top: 12px;
    height: 100vh;
    padding: 10px;
    overflow-x: hidden;
}