/*editing the homepage container*/
.homepage-container{
    background: linear-gradient(to right, lightblue, rgba(35, 85, 221, 0.664));
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*editing the check appointments of a doctor*/
.user-checks-timeslots{
    background-color: white;
    width: max-content;
    padding: 25px;
    margin-bottom: 15px;
}

/*editing the admin register container*/
.admin-register{
    background-color: white;
    width: max-content;
    padding: 25px;
    margin-bottom: 15px;
}

/*editing the admin login container*/
.admin-login{
   background-color: white; 
   width: max-content;
   padding: 25px;
   margin-bottom: 15px;
}

/*editing the doctor register container*/
.doctor-signup{
    background-color: white;
    width: max-content;
    padding: 25px;
    margin-bottom: 15px;
}

/*editing the doctor login container*/
.doctor-login{
    background-color: white;
    width: max-content;
    padding: 25px;
    margin-bottom: 15px;
}

/*editing the buttons*/
.pages-heading-user-btn{
    text-align: center;
    font-size: medium;
    border: none;
    border-radius: 9px;
    margin-left: 27rem;
    margin-bottom: 9px;
    background-color: lawngreen;
}

.pages-heading-admin-signup{
    text-align: center;
    font-size: medium;
    border: none;
    border-radius: 9px;
    margin-left: 17rem;
    margin-bottom: 9px;
    background-color: lawngreen;
}

.pages-heading-admin-signup:hover{
    background-color: darkgreen;
    color: white;
}

.pages-heading-admin-login{
    text-align: center;
    font-size: medium;
    border: none;
    border-radius: 9px;
    margin-left: 8rem;
    margin-bottom: 9px;
    background-color: lightseagreen;
    color: white;
}

.pages-heading-admin-login:hover{
    background-color: skyblue;
    color: black;
}

.pages-heading-doc-signup{
    text-align: center;
    font-size: medium;
    border: none;
    border-radius: 9px;
    margin-left: 10rem;
    margin-bottom: 9px; 
    background-color: lawngreen;
}

.pages-heading-doc-signup:hover{
    background-color: darkgreen;
    color: white;
}

.pages-heading-doc-login{
    text-align: center;
    font-size: medium;
    border: none;
    border-radius: 9px;
    margin-left: 10rem;
    margin-bottom: 9px;
    background-color: lightseagreen;
    color: white;
}

.pages-heading-doc-login:hover{
    background-color: skyblue;
    color: black;
}

/*editing the text of each container*/
.pages-subtext{
    text-align: center;
}

/*putting certain text to be displayed underneath*/
.block{
    display: block;
}

/*make the bullet points disappear */
.pages{
    list-style-type: none;
}